*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #f0eff2;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

.page-title {
    border-left: 8px solid #000000;
    font-size: 28px;
    padding-left: 20px;
    margin: 50px 0 40px 0;
}

.attendance-detail-frame {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.detail-table {
    color: #737373;
    font-weight: 800;
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
}

.detail-table th,
.detail-table td {
    padding: 20px 80px;
    text-align: left;
    border-bottom: none;
}

.detail-table tr {
    border-bottom: 2px solid #ddd;
}

.detail-table th {
    width: 30%;
}

.detail-table td {
    color: #000000;
    letter-spacing: 2px;
}

.time-inputs span {
    width: 80px;
    font-size: 15px;
    margin: 0 5px;
    color: #000000;
}

td>span {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

td>span:last-child {
    overflow-wrap: break-word;
    word-break: break-word;
}

.button-container {
    text-align: right;
    margin-top: 40px;
}

.button {
    padding: 8px 34px;
    font-weight: 800;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    transition: background-color 0.2s, transform 0.2s;
}

.approve-button {
    background-color: #000000;
    color: white;
}

.approve-button:hover {
    background-color: #ffffff;
    color: #000000;
    transform: translateY(-2px);
}

.no-approve-button {
    background-color: #696969;
    padding: 8px 12px;
    color: white;
}

