*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #f0eff2;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

.page-title {
    border-left: 8px solid #000000;
    font-size: 28px;
    padding-left: 20px;
    margin: 50px 0 40px 0;
}

.date-nav-frame {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 45px;
}

.calendar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-title h2 {
    margin: 0;
    font-size: 1.3em;
    font-weight: 600;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    line-height: 1.0;
}

.calendar-title .nav {
    display: flex;
    gap: 10px;
    flex-grow: 1;
}

.calendar-title .nav:last-child {
    justify-content: flex-end;
}

.arrow-left,
.arrow-right {
    background-color: #ffffff;
    color: #737373;
    font-size: 15px;
    font-weight: 900;
    border: none;
    display: inline-block;
    width: 80px;
    text-align: center;
    padding: 8px 0;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
}

.nav-arrow {
    color: #b2b2b2;
}

.arrow-left:hover,
.arrow-right:hover {
    background-color: #000000;
    color: white;
    outline: none;
    box-shadow: none;
}

.arrow-left:hover .nav-arrow,
.arrow-right:hover .nav-arrow {
    color: white;
}

.attendance-table-frame {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.attendance-table {
    color: #737373;
    font-weight: 600;
    width: 100%;
    border-collapse: collapse;
}

.attendance-table th:first-child,
.attendance-table td:first-child {
    text-align: left;
    padding-left: 60px;
    width: 210px;
}

.attendance-table th {
    padding: 10px;
    text-align: center;
    border-bottom: 3px solid #e1e1e1;
}

.attendance-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #e1e1e1;
    white-space: nowrap;
    letter-spacing: 2px;
}

.attendance-table tr:last-child td {
    min-width: 85px;
}

.detail-button {
    background-color: #ffffff;
    color: #000000;
    font-weight: 800;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
}

.detail-button:hover {
    background-color: #000000;
    color: white;
}

.csv-area {
    text-align: right;
    margin: 20px 20px 0 0;
}

.csv-button button {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 1em;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.csv-button button:hover {
    background-color: #d1d1d1;
    color: #000000;
    font-weight: 800;
    transform: translateY(-3px);
    box-shadow: 0 2px 1px rgba(255, 255, 255, 0.1);
}