body {
    max-width: 1300px;
    margin: auto;
}

.header-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 60px;
}

.company {
    width: auto;
    height: 50%;
    margin-left: 15px;
}

.a-tags {
    display: flex;
    gap: 20px;
}

.word-1 {
    color: white;
    text-decoration: none;
}

.word-2 {
    color: white;
    text-decoration: none;
}

.word-3 {
    color: white;
    text-decoration: none;
}

.word-4 {
    color: white;
    background-color: black;
    border: none;
    text-decoration: none;
}