.login-page {
    text-align: center;
    /* margin: 0 auto;
    max-width: 1400px; */
}

.login-box {
    position: relative;
    top: 70px;
}

.email-form {
    width: 500px;
    height: 35px;
    margin: 10px 0;
}

.password-form {
    width: 500px;
    height: 35px;
    margin: 10px 0;
}

.button-container {
    margin-top: 10px;
    display: block;
}

.login-button {
    width: 510px;
    height: 40px;
    margin: 50px 0 25px 0;
    background-color: #ff5555;
    border: #ff5555;
    color: white;
    font-size: 17px;
    font-weight: 700;
}

.to-register {
    color: #0173cc;
    text-decoration: none;
    display: block;
}

.label-email {
    display: block;
    position: relative;
    right: 200px;
    top: 10px;
    font-weight: 700;
}

.label-password {
    margin-top: 30px;
    display: block;
    position: relative;
    right: 213px;
    top: 10px;
    font-weight: 700;
}

.error {
    color: #ff5555;
}