.register-page {
    text-align: center;
    /* margin: 0 auto;
    max-width: 1400px; */
}

.register-box {
    position: relative;
    top: 70px;
}

.name-form {
    width: 500px;
    height: 30px;
}

.email-form {
    width: 500px;
    height: 30px;
}

.password-form {
    width: 500px;
    height: 30px;
}

.button-container {
    margin-top: 10px;
    display: block;
}

.register-button {
    position: relative;
    top: 20px;
    width: 500px;
    height: 30px;
    margin: 30px 0;
    font-size: 18px;
    font-weight: 600;
    background-color: #ff5555;
    border: #ff5555;
    color: white;
}

.to-login {
    position: relative;
    top: 5px;
    color: #0173cc;
    text-decoration: none;
    display: block;
}

.label-name {
    font-weight: 700;
    display: block;
    position: relative;
    right: 238px;
}

.label-email {
    font-weight: 700;
    margin-top: 30px;
    display: block;
    position: relative;
    right: 200px;
}

.label-password {
    font-weight: 700;
    margin-top: 30px;
    display: block;
    position: relative;
    right: 215px;
}

.label-conf-password {
    font-weight: 700;
    margin-top: 30px;
    display: block;
    position: relative;
    right: 198px;
}

.error {
    color: #ff5555;
}