.register-page {
    text-align: center;
    margin: 0 auto;
    max-width: 950px;
}

.register-box {
    position: relative;
    top: 70px;
}

.name-form {
    width: 500px;
    height: 30px;
}

.email-form {
    width: 500px;
    height: 30px;
}

.password-form {
    width: 500px;
    height: 30px;
}

.button-container {
    margin-top: 10px;
    display: block;
}

.register-button {
    width: 510px;
    height: 40px;
    margin: 50px 0 25px 0;
    font-size: 18px;
    font-weight: 700;
    background-color: #000000;
    border: #ff5555;
    color: white;
    cursor: pointer;
}

.to-login {
    color: #0173cc;
    text-decoration: none;
    display: block;
    font-size: 15px;
    cursor: pointer;
}

.label-name {
    font-weight: 700;
    display: block;
    position: relative;
    right: 238px;
    letter-spacing: 1px;
}

.label-email {
    font-weight: 700;
    margin-top: 30px;
    display: block;
    position: relative;
    right: 200px;
    letter-spacing: 1px;
}

.label-password {
    font-weight: 700;
    margin-top: 30px;
    display: block;
    position: relative;
    right: 215px;
    letter-spacing: 1px;
}

.label-conf-password {
    font-weight: 700;
    margin-top: 30px;
    display: block;
    position: relative;
    right: 198px;
    letter-spacing: 1px;
}

.error {
    color: #ff5555;
}
