*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #f0eff2;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

.stamping-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 150px;
    padding-bottom: 100px;
    min-height: calc(100vh - 60px);
    width: 100%;
}

.stamping-container-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px 60px;
    width: 90%;
    max-width: 450px;
}

.day-and-week {
    font-size: 30px;
    margin: 0;
}

.time-only {
    font-size: 70px;
    margin: 10px 10px;
    font-weight: 800;
}

.submit-clock-in-and-out {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 1.5rem;
    letter-spacing: 5px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    width: 210px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submit-break-start-and-end {
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 1.5rem;
    letter-spacing: 5px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    width: 210px;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status {
    background-color: #e1e1e1;
    color: #696969;
    font-weight: 600;
    border-radius: 15px;
    padding: 5px 15px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.submit-out-or-break {
    display: flex;
    justify-content: center;
    gap: 60px;
    width: 100%;
}

.finish-message {
    font-size: 22px;
    font-weight: 700;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}

.error-alert {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}