body,
/* html, */
#app {
    /* height: 100%;
    margin: 0;
    padding: 0; */
    margin: 0 auto;
    max-width: 1400px;
    background-color: #f0eff2;
}

.stamping-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    width: 100%;
    /* box-sizing: border-box; */
}

.stamping-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding: 2rem; */
}

.stamping-container-1 h3 {
    margin: 0;
}

.day-and-week {
    font-size: 30px;
    margin: 0;
}

.time-only {
    font-size: 70px;
    margin: 10px 10px;
    font-weight: 800;
}

.submit-form {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    width: 140px;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    transition: background-color 0.3s;
}

.submit-form:hover {
    background-color: black;
    color: white;
}

.status {
    background-color: #c8c8c8;
    color: #757575;
    border-radius: 15px;
    padding: 5px 10px;
}

.submit-out-or-break {
    display: flex;
}

.submit-form-2 {
    margin: 10px 30px 0 30px;
    padding: 10px 20px;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    width: 140px;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    transition: background-color 0.3s;
}

.submit-form-2:hover {
    background-color: black;
    color: white;
}